body {
    font-family: 'Lacquer';
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav-bar,
#social-media {
    display: inline;
}

#nav-bar a,
#social-media a{
    text-decoration: none;
}